<ul xpsui-menu-items>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.member.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/member#'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/member#'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>

	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.company.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/company'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/company'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Udalosť</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/events'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/events'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Žiadosť</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/application'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/application'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>Poplatok</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/fees'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/fees'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.my.profile.title' | translate}}</span></a>
		<ul>
			<li><a href="#/personal-page"><span>{{'menu.profile.lower.level' | translate}}</span></a></li>
			<li><a href="#/personal-change-password"><span>{{'menu.change.password.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.permissions.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/security#groupmaster'|xpsuiuriescape}}"><span>{{'menu.new.group.lower.level' | translate}}</span></a></li>
			<li><a href="#/security/group/edit/"><span>{{'menu.permission.groups.lower.level' | translate}}</span></a></li>
			<li><a href="#/security/user/edit"><span>{{'menu.user.permissions.lower.level' | translate}}</span></a></li>
			<li><a href="#/registry/new/{{'uri://registries/security#profilesmaster'|xpsuiuriescape}}"><span>{{'menu.new.profile.lower.level' | translate}}</span></a></li>
			<li><a href="#/security/profile/edit"><span>{{'menu.profiles.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.statistics.title' | translate}}</span></a>
		<ul>
			<li><a href="#/statistics"><span>{{'menu.statistics.show.title' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.schemas.title' | translate}}</span></a>
		<ul>
			<li><a href="#/schema/edit"><span>{{'menu.schema.list.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
</ul>